aws_region   = "us-east-1"
environment  = "dev"
project_name = "healthcare-rag"

bedrock_model_id           = "anthropic.claude-3-5-sonnet-20241022-v2:0"
bedrock_embedding_model_id = "amazon.titan-embed-text-v2:0"
opensearch_vector_dimension = 1024

lambda_memory_mb     = 1024
lambda_timeout_seconds = 30

api_throttle_rate  = 100
api_throttle_burst = 200

cognito_mfa_configuration = "ON"

alert_email        = "your-team@example.com"
ingestion_schedule = "cron(0 2 * * ? *)"

vpc_cidr             = "10.0.0.0/16"
private_subnet_cidrs = ["10.0.1.0/24", "10.0.2.0/24"]
